@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;

<ul class="navbar-nav ms-auto align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
            </form>
        </li>
        <li class="nav-item">
            <a href="#">View Profile</a>
        </li>
        <li class="nav-item">
            <a href="#">Change Password</a>
        </li>
    }
    else
    {
       <li class="nav-itme">
           <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
       </li>
        <li class="nav-itme">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>