@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;
@inject UserManager<Users> userManager;

<ul class="navbar-nav ms-auto align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name)?.FullName
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li><a class="dropdown-item" href="#">View Profile</a></li>
                <li><a class="dropdown-item" href="#">Change Password</a></li>                
                <li class="dropdown-item">
                    <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-warning">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
        
        
    }
    else
    {
       <li class="nav-itme">
           <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
       </li>
        <li class="nav-itme">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>